<h1 class="mt-3 mb-3 text-center">Tweety</h1>
<table class = "table table-striped">
  <thead>
  <tr>
    <th>Treść</th>
    <th>Data utworzenia</th>
    <th>Autor</th>
    <th>Jezyk</th>
    <th>Usuń</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let tweet of tweets" >
    <td> {{ tweet.text }} </td>
    <td> {{ tweet.createdAt }} </td>
    <td> {{ tweet.author.userName }} </td>
    <td> {{ tweet.lang }} </td>
    <td>
      <button (click) = "deleteTweetById(tweet.id)" class = "btn btn-info">Usuń</button>
    </td>
  </tr>
  </tbody>
</table>
