<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a routerLink="initView" routerLinkActive="active" class="nav-link" >Twitter App</a>
    </li>
    <li class = "nav-item">
      <a routerLink="keywords" routerLinkActive="active" class="nav-link" >Słowa kluczowe</a>
    </li>
    <li class = "nav-item">
      <a routerLink="favouriteAuthors" routerLinkActive="active" class="nav-link" >Ulubieni autorzy</a>
    </li>
    <li class = "nav-item">
      <a routerLink="trashTweets" routerLinkActive="active" class="nav-link" >Usunięte tweety</a>
    </li>
  </ul>
</nav>
<div class = "container">
  <router-outlet></router-outlet>
</div>
