<h1 class="mt-3 mb-3 text-center">Słowa kluczowe</h1>

<form (ngSubmit) = "onSubmit()">
    <label for="keyword">Dodaj słowo klucz</label>
    <input type="text" class ="form-control" id = "keyword"
           [(ngModel)] = "keyword.name" name = "keyword">
  <div class="d-grid gap-2 mb-5">
  <button class = "btn btn-success" type ="submit">Dodaj</button>
  </div>
</form>

<table class = "table table-striped">
  <thead>
  <tr>
    <th>Słowo kluczowe</th>
    <th>W ilu tweetach został odnaleziony</th>
    <th>W ilu tweetach został odnaleziony (ostatnie wyszukiwanie)</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let keyword of keywords" >
    <td> {{ keyword.name }} </td>
    <td> {{ keyword.twitCounter }} </td>
    <td> {{ keyword.twitCounterLastSearch }} </td>
    <td>
      <button style="margin-right: 10px;" (click) = "showTweet(keyword.id)" class = "btn btn-info">Zobacz tweety</button>
      <button style="margin-right: 10px;" *ngIf="keyword.keywordIsAuthor" (click) = "showTweetByAuthor(keyword.name)" class = "btn btn-info">Zobacz autorów</button>
      <button style="margin-right: 10px;" (click) = "deleteKeyword(keyword.id, keyword.name)" class = "btn btn-info">Usuń</button>
    </td>
  </tr>
  </tbody>
</table>
